{% extends 'base.html' %}
{% load static %}
{% block title %}Процедуры эвакуации и действия в ЧС{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'style/valcovka.css' %}">
</head>
<article>
<div class="container">
    <h2>Процедуры эвакуации и действия в ЧС</h2>
    <hr>
        <div class="image-content">
            <img src="{% static 'img/выход.jpg' %}" class="image">
        </div>
        <div class="text-vid">
            <p>Чрезвычайные ситуации на производстве могут возникнуть внезапно и требуют незамедлительных и эффективных действий. Будь то пожар, техногенная авария или природное бедствие, правильно организованная эвакуация может спасти жизни и снизить риски для здоровья сотрудников. В этом разделе мы обсудим ключевые аспекты планирования эвакуации и действий в экстренных случаях.</p>
                <p>Важно, чтобы каждый сотрудник был информирован о процедурах эвакуации и знал свою роль в процессе. От индивидуальной готовности каждого зависит успех общих усилий по обеспечению безопасности. Обучение и постоянное повторение информации о действиях в ЧС повышают общую готовность и способность к действию. Совместные усилия, чёткое следование плану и личная ответственность каждого – вот залог успешной эвакуации и минимизации последствий ЧС.</p>
        </div>
        <div class="blocks">
            <a href="{% url 'yroc4' %}">
        <div class="block">
            <div class="icon">
                <img src="{% static 'icon/урок.png' %}" class="icon_img">
            </div>
            <div class="signature"><h1>Начать обучение</h1></div>
        </div>
        </a>
        <hr>
        </div>
        <a href="{% url 'mvd' %}">
        <img src="{% static 'img/Назад.PNG' %}" class="back">
        </a>
</div>
</article>
{% endblock %}
