{% extends 'base.html' %}
{% load static %}
{% block title %}Пожарная безопасность{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'style/valcovka.css' %}">
</head>
<article>
<div class="container">
    <h2>Пожарная безопасность</h2>
    <hr>
        <div class="image-content">
            <img src="{% static 'img/огонь.jpg' %}" class="image">
        </div>
        <div class="text-vid">
            <p> Пожарная безопасность на производстве играет жизненно важную роль в предотвращении и смягчении рисков пожара на промышленных предприятиях. Она устанавливает всесторонние меры и процедуры для обеспечения безопасности сотрудников, защиты имущества и поддержания непрерывности бизнеса.</p>
                <p> Глава включает в себя темы, такие как выявление и устранение пожарных опасностей, обучение и инструктаж персонала, проектирование и обслуживание систем противопожарной защиты, а также планы действий в чрезвычайных ситуациях и реагирования на них. Эффективная реализация этой главы имеет решающее значение для создания и поддержания безопасной и защищенной рабочей среды на производственных предприятиях.</p>
        </div>
        <div class="blocks">
            <a href="{% url 'yroc3' %}">
        <div class="block">
            <div class="icon">
                <img src="{% static 'icon/урок.png' %}" class="icon_img">
            </div>
            <div class="signature"><h1>Начать обучение</h1></div>
        </div>
        </a>
        <hr>
        </div>
        <a href="{% url 'mvd' %}">
        <img src="{% static 'img/Назад.PNG' %}" class="back">
        </a>
</div>
</article>
{% endblock %}
