{% extends 'base.html' %}
{% load static %}
{% block title %}Индивидуальные средства защиты{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'style/valcovka.css' %}">
</head>
<article>
<div class="container">
    <h2>Индивидуальные средства защиты</h2>
    <hr>
        <div class="image-content">
            <img src="{% static 'img/защита.jpg' %}" class="image">
        </div>
        <div class="text-vid">
            <p>Использование индивидуальных средств защиты в производстве труб является крайне важным аспектом для обеспечения безопасности работников. Работа с трубами может быть связана с различными опасностями и рисками, такими как возможность получения травмы при падении тяжелых объектов, порезы и ушибы при обращении с острыми предметами, а также риск возгорания или пожара.</p>
                <p>Поэтому необходимо использовать специальные индивидуальные средства защиты, такие как защитные очки, перчатки, каски, предохранительные наушники, а также средства защиты от пожара. Важно обеспечить правильное использование и поддержание этих средств, чтобы минимизировать риск получения травмы или других повреждений.</p>
        </div>
        <div class="blocks">
            <a href="{% url 'yroc2' %}">
        <div class="block">
            <div class="icon">
                <img src="{% static 'icon/урок.png' %}" class="icon_img">
            </div>
            <div class="signature"><h1>Начать обучение</h1></div>
        </div>
        </a>
        <hr>
        </div>
        <a href="{% url 'mvd' %}">
        <img src="{% static 'img/Назад.PNG' %}" class="back">
        </a>
</div>
</article>
{% endblock %}
