{% extends 'base.html' %}
{% load static %}
{% block title %}Видео-уроки{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'style/video.css' %}">
    <link rel="icon" href="{% static 'icon/щит.png' %}">
</head>
<article>
	<div class="container">
		<h2>Видео-уроки</h2>
		<hr>
		<h1>Опасные и вредные производственные факторы</h1>
	
	<div class = "section">
		<div class="video-case">
			<div class="video">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/vbXdMeVUEK0?si=yEDLiieoaRKMvhcy" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
			</div>
		</div>
	
	<div class=" text-vid ">
		<p>В современном производственном процессе, безопасность труда является одной из ключевых задач, стоящих перед каждым предприятием. Опасные и вредные производственные факторы представляют собой комплекс условий и обстоятельств, которые могут негативно повлиять на здоровье и жизнедеятельность работников. Эти факторы могут проявляться в различных формах: от неблагоприятных микроклиматических условий и повышенного уровня шума, до химических веществ и движущихся механизмов.</p>
		<p>Понимание и контроль над этими факторами не только снижает риск травматизма и профессиональных заболеваний, но и повышает эффективность работы, улучшает качество продукции и способствует созданию здоровой рабочей среды. В данном видео мы постараемся предоставить исчерпывающую информацию, которая поможет каждому работнику и руководству предприятия обеспечить максимальную безопасность на производстве.</p>
	</div>
	
	</div>
	<hr>
	
		<h1>Пожарная безопасность</h1>
	
	<div class = "section">
		<div class="video-case">
			<div class="video">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/xe1QBY9A5ak?si=8hGZ3Tyyv18yqYFq" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>		</div>
		</div>
	
		<div class=" text-vid ">
		<p>Работа на высоте является одним из наиболее опасных аспектов в производственной деятельности. Она требует от работников специальных навыков, строгого соблюдения правил безопасности и постоянного контроля за рисками. В данном видео мы сосредоточимся на ключевых аспектах безопасности при выполнении работ на высоте, обеспечивая вам необходимые знания и рекомендации для минимизации рисков и обеспечения безопасной рабочей среды.</p>
		<p>Перед тем как приступить к выполнению работ на высоте, необходимо осознать потенциальные опасности и принять меры для их предотвращения. Мы рассмотрим различные виды опасностей, с которыми сталкиваются работники при работе на высоте, включая падение с высоты, упадок предметов, воздействие погодных условий и многие другие. Погрузившись в детали каждого из них, вы сможете более эффективно управлять рисками и принимать необходимые меры предосторожности.</p>
	</div>
	
	</div>
	
		<hr>
		<h1>Охрана труда при работе на высоте</h1>
	
	<div class = "section">
		<div class="video-case">
			<div class="video">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/HZacjnjOF6c?si=CxNGr6bHncjHtY2X" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>		</div>
		</div>
	
		<div class=" text-vid ">
		<p>В современном производственном процессе, безопасность труда является одной из ключевых задач, стоящих перед каждым предприятием. Опасные и вредные производственные факторы представляют собой комплекс условий и обстоятельств, которые могут негативно повлиять на здоровье и жизнедеятельность работников. Эти факторы могут проявляться в различных формах: от неблагоприятных микроклиматических условий и повышенного уровня шума, до химических веществ и движущихся механизмов.</p>
		<p>Понимание и контроль над этими факторами не только снижает риск травматизма и профессиональных заболеваний, но и повышает эффективность работы, улучшает качество продукции и способствует созданию здоровой рабочей среды. В данном видео мы постараемся предоставить исчерпывающую информацию, которая поможет каждому работнику и руководству предприятия обеспечить максимальную безопасность на производстве.</p>
	</div>
	</article>
{% endblock %}
